{% extends 'base.html' %}

{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Item List</title>
	<link href="{% static 'css/stylesheet.css' %}" rel="stylesheet">
</head>


<body>
	{% block content %}
	<h1 class="display-4">{{title}}</h1>
	<br>
	<center>
	<form method='POST'>
		{% csrf_token %}
    	{{form}}
        <input type="submit" value='Search'/>
	</form>
	</center>
			<br>
			<div class="shadow-lg mb-5 bg-white rounded">
			<table class="table table-striped table-dark">
		  <thead>
		    <tr>
		      <th scope="col">COUNT</th>
		      <th scope="col">CATEGORY</th>
		      <th scope="col">ITEM NAME</th>
		      <th scope="col">QUANTITY IN STORE</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for instance in queryset %}
		    <tr>
		      <th scope="row">{{forloop.counter}}</th>
		      <td>{{instance.category}}</td>
		      <td><a href="{% url 'update_items' instance.id %}">{{instance.item_name}}</a></td>
		      <td>{{instance.quantity}}</td>
		      <td><a href="{% url 'delete_items' instance.id %}">Delete</a></td>
		      {% endfor %}

		  </tbody>
		</table>
		</div>


     {% endblock %}

</body>
</html>